{% extends 'base.html' %} {% block content %}

<h1>Finch Details</h1>

<div class="card">
        <div class="card-content">
            <span class="card-title">{{ finch.name }}</span>
            <p>Habitat: {{ finch.habitat }}</p>
            <p>Description: {{ finch.description }}</p>
            <p>Population: {{ finch.population }}</p>
            <p>Threats: {{ finch.threats }}</p>
            
            <div class="card-action">
                <a href="{% url 'finch_update' finch.id %}">Edit</a>
                <a href="{% url 'finch_delete' finch.id %}">Delete</a>
            </div>

        </div>
</div>
{% endblock %}