* {
    box-sizing: border-box;
    margin: 0;
}


body {
    background-color: lightblue;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(../img/Common-Redpoll.jpeg);
    /* background-repeat: no-repeat; */
}

main {
    flex-grow: 1;
}

footer {
    padding-top: 0;
    text-align: right;
}